/*
  AUTHOR: Matt Nguyen
  DESCRIPTION: Defines required for "esp32_driver.cpp" to function.
*/

#ifndef SECRETS_H
#define SECRETS_H

#define EAP_IDENTITY ""
#define EAP_USERNAME ""
#define EAP_PASSWORD ""

#define SSID ""

#define DECISION_CHANNEL_NUMBER 0
#define VALUE_CHANNEL_NUMBER 0
#define WRITE_API_KEY ""
#define READ_API_KEY ""

#endif
